# 版本控制
.git
.gitignore
.github

# 依赖目录
node_modules

# 构建输出
dist
dist-ssr

# 日志文件
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# 编辑器目录和文件
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 测试文件
test
vitest.config.js

# 本地环境文件
.env.local
.env.*.local

# Docker相关
Dockerfile
.dockerignore

# 其他不需要的文件
README.md
LICENSE
.editorconfig
.nvmrc
.npmrc
*stats.html

# Netlify相关
.netlify
netlify.toml